<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>果然好</title>
	<meta name="viewport" content="width=720,user-scalable=0"/>
	<meta content="telephone=no, address=no" name="format-detection" />
	<link rel="stylesheet" href="../css/base.css" />
	<script src="../dist/EVE.js" type="text/javascript" charset="utf-8"></script>
</head>
<body style="background: #f5f5f5;" module-id="recharge" class="animation-fadeIn">
	<div id="vueApp" class="vuePageBox">
		<div class="mask"></div>
		<!--<div class="header_wrap">
			<div class="header_contain">
				<div class="header_left" @click="goBack">
					<span class="triangle-btn green"></span>
				</div>
				<h1 class="header_title header_title_color">账户充值</h1>
				<div class="header_right" @click="jumpPage">
					<span class="text">充值记录</span>
				</div>
		    </div>
		</div>
		<div class="empty"></div>-->
		<div class="main_wrap recharge-wrap">
			<div class="main recharge_main" v-cloak>
				<div class="recharge_user_money" >
					<p class="desc">我的余额</p>
					<div class="money">￥<span class="money_num" v-text="money"></span></div>
				</div>
				<div class="recharge_center">
					<ul class="recharge_nav clearfloat" >
						<li class="recharge_nav_item float_left" v-for="(item,index) in rechargeMode.list" v-text="item" :class="{'active':getIsRechargeModeType(index)}" @click="rechargeModeClick(index)"></li>
						<span class="nav_tabs__line" style="transform: translateX(120px) translateX(-50%); transition-duration: 0.3s;"></span>
					</ul>
					<div class="recharge_box">
						<div class="recharge_box_item active" >
							<ul class="recharge_card_box">
								<li class="">
									<label>充值卡号</label>
									<input type="text" id="" v-model="rechangeCard" placeholder="请输入充值卡号" @blur="inputBlur" @focus="inputFocus" />
									<span class="icon_del" v-text="'X'" v-show="rechangeCard" @click="delRechangeCard"></span>
								</li>
								<li>
									<label>兑换码</label>
									<input type="text" name="" id="" value="" v-model="rechangeExchangeCode" placeholder="请输入兑换码"  @blur="inputBlur" @focus="inputFocus"  />
									<span class="icon_del" v-text="'X'" v-show="rechangeExchangeCode" @click="delRechangeExchangeCode"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="rechange_btn_wrap">
					<div class="rechange_btn" v-text="btnText" :class="{'active':btnIsActive,'isShow':btnIsShow}" @click="recharge"></div>
				</div>
				<form id="form2" action="http://wappaygw.alipay.com/service/rest.htm?_input_charset=utf-8" method="post" style="display: none;">
			
				</form>
			</div>
			<div class="order_refund" v-show="isMask">		
				<div class="refund_bg refund_bg_load"></div>
				<div class="loading_box">
					<div id="gavinPlay"></div>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script data-main = "../dist/rechangeCard.js?v=20190909" src="../require/require.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../seajs/2.1.1/sea.js"></script>
<script src="../seajs-config.js?v=20190319"></script>
<script>
	seajs.use(['payment'],function( zs ){
		zs.init();
	});
</script>-->
<script type="text/javascript">
	//alipay支付回调
	function aliPayResult ( d ){
		pub.rechange.order_topay_alipay.alipay_result(d);
	}
	//wxpay支付回调
	function wxPayResult ( d ){
		pub.rechange.wx_pay_app.wxpay_result(d);
	}
	
</script>
</html>